body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: orange;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.App{
    text-align: center;
}

table{
    text-align: center;
    width: 100%;
}

.card {
    margin: auto;
    padding-top: 15px; 
    padding-bottom: 15px; 
    width: 90%;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
.mainContainer{
    width:80%;
    position:relative;
    display:block;
    left:0px;
    top:0px;
}
.cartSidebar{
    position:fixed;
    overflow-y:scroll;
    right:0px;
    top:0px;
    height:100vh;
    width:20%;
    background-color:#f3f3f3;
    text-align: center;
    background-image: url(http://media.wizards.com/2015/images/daily/ARC20151005_Plains_Final.jpg);
    background-size: cover;
    /* background-position-x:  0%; */
    background-attachment: fixed;
}

.cart{
    font-size: 12px;
    color: white;

    margin: auto;
    padding-top: 15px; 
    padding-bottom: 15px; 
    width: 90%;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */

    
}