.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: black; 
    background-color: orange;
    padding-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 5px;
}

.nav {
  overflow: hidden;
  background-color: blue;
  background-size: cover;
  background-image: url(https://i.pinimg.com/originals/ab/8b/29/ab8b29d163462214b27b18bafbc77f97.jpg);
}

.nav-link {
  float: left;
  color: black;
  background-color: orange;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #008183;
}

.nav-right {
  float: right;
}